/* 清零 */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font: Helvetica,Arial,sans-serif;
	font-size: 12px;
}
a{
	text-decoration: none;
}
img,input{
	border: none;
}
li{
	list-style: none;
}

/*头部*/
#hd-header{
	width: 950px;
	height: 90px;
	margin: 0px auto;
	position: relative;
}
#hd-header .header-logo{
	display: block;
	width: 154px;
	height: 30px;
	background: url(./images/logo_db.png) no-repeat;
	position: absolute;
	left: 0px;
	top:29px;
}
#hd-header .header-search{
	width: 280px;
	height: 30px;
	border: 1px solid #c3c3c3;
	position: absolute;
	left: 183px;
	top: 31px;
	color: #e4e4e4;
	padding-left: 7px;
	line-height: 30px;
}
#hd-header p{
	width: 13px;
	height: 13px;
	position: absolute;
	background: url(./images/bn_srh_1.png) no-repeat;
	left: 450px;
	top: 42px;
}
#hd-header ul{
	position: absolute;
	right: 0px;
	top: 36px; 
}
#hd-header ul li{
	float: left;
	margin-right: 13px;
}
#hd-header ul li a{
	display: block;
	width: 45px;
	height: 23px;
}
#hd-header .header-book{
	background: url(./images/anony_nav_logo4.png) 0px 0px no-repeat;
}
#hd-header .header-movie{
	background: url(./images/anony_nav_logo4.png) -59px 0px no-repeat;
}
#hd-header .header-music{
	background: url(./images/anony_nav_logo4.png) -120px 0px no-repeat;
}
#hd-header .header-group{
	background: url(./images/anony_nav_logo4.png) -179px 0px no-repeat;
}
#hd-header .header-city{
	background: url(./images/anony_nav_logo4.png) -339px 0px no-repeat;
}
#hd-header .header-fm{
	width: 81px;
	background: url(./images/anony_nav_logo4.png) -240px 0px no-repeat;
}
#hd-header .header-good{
	background: url(./images/anony_nav_logo4.png) -400px 0px no-repeat;
}
/*头部结束*/

/*注册区域*/
#hd-reg-bg{
	background: #e8edf1;
	width: 100%;
	height: 180px;
}

#hd-reg{
	width: 950px;
	height: 180px;
	margin: 0 auto;
	position: relative;
}
#hd-reg .reg-app{
	display: block;
	width: 190px;
	height: 150px;
	position: absolute;
	left: 36px;
	top:30px;
	background: url(./images/doubanapp.png) no-repeat;
	overflow: hidden;
}
#hd-reg p{
	color: #666;
	position: absolute;
	left: 280px;
	top: 40px;
}
#hd-reg .reg-title{
	font-size: 22px;
}
#hd-reg .reg-content{
	font-size: 14px;
	top:73px;
}
#hd-reg .reg-download{
	display: block;
	width: 133px;
	height: 30px;
	background: #3ca353;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 280px;
	top: 110px;	
}
#hd-reg .ver-line{
	border-left: 1px solid #d7dce0;
	height: 80px;
	position: absolute;
	left: 500px;
	top: 50px;
}
#hd-reg input{
	display: block;
	width: 178px;
	height: 34px;
	position: absolute;
	left: 560px;
	background: #fff;
	line-height: 34px;
	font-size: 12px;
	color: #e3e3e3;
	padding-left: 7px;
}	
#hd-reg .reg-name{
	position: absolute;
	top: 18px;
}
#hd-reg .reg-pwd{
	position: absolute;
	top: 62px;
}
#hd-reg .reg-p{
	display: block;
	width: 55px;
	height: 15px;
	position: absolute;
	top: 110px;
	left: 560px;
	padding-left: 15px;
}

#hd-reg .reg-forget{
	display: block;
	position: absolute;
	left: 755px;
	top:71px;
	color: #3377aa;
	font-size: 12px;
}
#hd-reg .reg-forget:hover{
	background: #E8EDF1;
}
#hd-reg .reg-remeber{
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0px;
	top: 2px;
}
#hd-reg .login{
	display: block;
	width: 75px;
	height: 30px;
	position: absolute;
	left: 560px;
	top: 137px;
	font-size: 14px;
	color: #fff;
	background: #3ca353;
	border-radius: 2px;
	line-height: 30px;
	text-align: center;
}
#hd-reg .signup{
	display: block;
	width: 75px;
	height: 30px;
	position: absolute;
	left: 644px;
	top: 137px;
	font-size: 14px;
	color: #eca196;
	border: 1px solid #eca196;
	border-radius: 2px;
	line-height: 30px;
	text-align: center;
}
#hd-reg .signup:hover{
	background: #E8EDF1;
}
/*注册区域结束*/

/*热门区域*/
#hd-hot{
	width: 950px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
#hd-hot .hot-con{
	width: 380px;
	position: absolute;
	top: 10px;
}
#hd-hot .hot-con .hot-pic{
	width: 380px;
	height: 470px;
	position: absolute;
	margin-top: 10px;
}
#hd-hot .hot-con .hot-pic li{
	display: block;
	width: 170px;
	height: 220px;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
}
#hd-hot .hot-con .hot-pic span{
	font-size: 12px;
	color: #999999;
}
#hd-hot .hot-con .hot-text{
	width: 264px;
	position: absolute;
	margin-top: 10px;
	margin-left: 380px;
}
#hd-hot .hot-con .hot-text li{
	padding-bottom: 10px;
}
#hd-hot .hot-con .hot-text p{
	line-height: 20px;
	color: #999;
}
#hd-hot .hot-con .hot-text span{
	line-height: 20px;
	color: #666;
}
#hd-hot{
	margin-top: -10px;
}
#hd-hot a img.right-top{
	width: 265px;
	height: 110px;
}
#hd-hot ul{
	margin-top: 15px;
	line-height: 20px;
}
#hd-hot ul li{
	margin-bottom: 5px;
}
#hd-hot ul li p{
	color: #999;
}
#hd-hot ul li b{
	color: #999;
	font-weight: 400;
}
#hd-hot #hot-right{
	width: 265px;
	position: absolute;
	right: 0px;
	top: 15px;
}
#hd-hot a img.right-bottom{
	width: 265px;
	height: 63px;
	padding-top: 10px;
}
/*热门区域结束*/

/*电影区域*/
#hd-movie-bg{
	height: 770px;
	background-color: #f7f7f7;
}
#hd-movie-bg #hd-movie{
	width: 950px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.con-right .movie-cate{
	margin-top: 15px;
	margin-bottom: 15px;
}
.con-right .movie-cate li{
	display: inline-block;
	width: 48px;
	line-height: 24px;
}
.con-right .movie-hot{
	margin-top: 5px;
}
.con-right .movie-hot li{
	display: block;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #d7dce0;
}
.con-right .movie-hot span{
	display: inline-block;
	color: #111;
	margin-right: 10px;
}
/*电影区域结束*/

/*小组区域*/
#hd-group{
	margin: 0px auto;
	width: 950px;
	height: 650px;
	position: relative;
}
#hd-group .left-title{
	color: #2f7982;
}
#hd-group .left-top a{
	color: #2f7982;
}
#hd-group .left-top a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-group .con-mid ul{
	margin-top: 10px;
}
#hd-group .con-mid ul li{
	display: block;
	width: 224px;
	height: 90px;
	position: relative;
	float: left;
	margin-right: 54px;
}
#hd-group .con-mid .group-icon{
	display: block;
	width: 48px;
	height: 48px;
}
#hd-group .con-mid div{
	position: absolute;
	top: 0px;
	left: 56px;
}
#hd-group .con-mid .group-title{
	color: #2f7982;
	font-size: 13px;
	line-height: 18px;
}
#hd-group .con-mid .group-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-group .con-mid b{
	margin-top: 8px;
}
#hd-group .con-right li{
	display: inline-block;
	margin-right: 10px;
	line-height: 15px;
}
#hd-group .con-right a{
	display: block;
	color: #2f7982;
}
#hd-group .con-right a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-group .con-right .cate-title{
	display: inline-block;
	color: #333;
}
/*小组区域结束*/



/*读书区域*/
#hd-book-bg{
	height: 680px;
	background: #e8edf1;
}
#hd-book{
	width: 950px;
	margin: 0px auto;
	position: relative;
}
#hd-book .con-left .left-top a{
	color: #642f14;
}
#hd-book .con-left .left-top a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-book .con-mid .mid-content li{
	width: 130px;
	height: 256px;
}
#hd-book .con-mid .mid-content .mid-title{
	color: #614e3c;
	font-weight: 400;
}
#hd-book .con-mid .mid-content .mid-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-book .con-mid .mid-content .mid-button{
	display: block;
	width: 68px;
	height: 23px;
	background: #999;
	color: #fff;
	border-radius: 4px;
	line-height: 23px;
	position: relative;
	margin: 0 auto;
	margin-top: 5px;
}
#hd-book .con-mid .mid-button:hover{
	background: #878882;
}
#hd-book .con-right ul{
	padding-top: 10px;
	padding-bottom: 10px;
}
#hd-book .con-right ul+ul{
	border-top: 1px solid #d7dce0;
}
#hd-book .con-right ul li{
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 5px;
}
#hd-book .con-right ul li a{
	color: #614e3c;
}
#hd-book .con-right ul li a:hover{
	color: #fff;
	background: #3377aa;
}

/*读书区域结束*/

/*音乐区域*/
#hd-music{
	width: 950px;
	height: 700px;
	margin: 0 auto;
	position: relative;
}
#hd-music .left-title{
	color: #f38c00;
}
#hd-music .con-left .left-top a{
	color: #555d53;
}
#hd-music .con-left a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-music .con-mid img{
	width: 80px;
	height: 80px;
	display: block;
}
#hd-music .con-mid .mid-content li{
	height: 200px;
}
#hd-music .con-mid .mid-content p{
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}
#hd-music .con-mid .mid-content .music-title{
	color: #333;
}
#hd-music .con-mid .mid-content .music-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-music .con-mid .mid-content .music-artist{
	margin-top: 10px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
#hd-music .con-mid .mid-content .music-artist:hover{
	color: #fff;
	background: #3377aa;
}
#hd-music .con-mid .mid-content .pic-cover{
	position: relative;
	width: 130px;
}
#hd-music .con-mid .mid-content .pic-cover i{
	display: block;
	position: absolute;
	top: 18px;
	left: 43px;
	background: url(./images/timeline-player-cover.png) no-repeat;
	height: 44px;
	width: 44px;
	opacity: 0.8;
}
#hd-music .con-right .right-content a{
	color: #555d53;
}
#hd-music .con-right div{
	width: 265px;
	height: 80px;
	position: relative;
}
#hd-music .con-right img{
	position: absolute;
	top: 0px;
	left: 20px;
}
#hd-music .con-right .right-title{
	position: absolute;
	top: 0px;
	left: 80px;
}
#hd-music .con-right .right-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-music .con-right h4{
	color: #999;
	position: absolute;
	left: 80px;
	top: 25px;
	font-weight: 400;
	font-size: 12px;
}
#hd-music .con-right h3{
	color: #999;
	position: absolute;
	left: 80px;
	top: 45px;
	font-weight: 400;
	font-size: 12px;
}
/*音乐区域结束*/

/*市集区域*/
#hd-market-bg{
	height: 720px;
	background: #e8edf1;
}
#hd-market{
	width: 950px;
	margin: 0px auto;
	position: relative;
}
#hd-market .con-left .left-title{
	color: #1f9432;
}
#hd-market .con-left .left-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-market .con-left .left-top a{
	color: #343434;
}
#hd-market .con-left .left-top a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-market .con-mid .market-content{
	margin-top: 20px;
	width: 510px;
	height: 285px;
	position: relative;
}
#hd-market .con-mid .market-content .market-big{
	display: block;
	width: 250px;
	height: 250px;
	margin-bottom: 10px;
}
#hd-market .con-mid .market-content .big-title{
	font-size: 14px;
}
#hd-market .con-mid .market-content .big-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-market .con-mid .market-content span{
	display: inline-block;
	width: 65px;
	color: #999;
	font-size: 14px;
	text-align: right;
}

#hd-market .con-mid .market-content ul{
	display: block;
	width: 270px;
	height: 305px;
	position: absolute;
	left: 270px;
	top: -20px;
}
#hd-market .con-mid .market-content li{
	display: block;
	width: 110px;
	height: 140px;
	float: left;
	text-align: center;
	margin-right: 20px;
}
#hd-market .con-mid .market-content .market-small{
	display: block;
	width: 110px;
	height: 110px;
}
#hd-market .con-mid .market-content .small-title{
	display: inline-block;
	margin-top: 5px;
	line-height: 12px;
	text-align: center;
}
#hd-market .con-right ul{
	margin-top: 15px;
}
#hd-market .con-right ul li div{
	width: 280px;
	height: 80px;
	position: relative;
}
#hd-market .con-right ul li img{
	width: 60px;
	height: 60px;
}
#hd-market .con-right ul li .market-title{
	position: absolute;
	top: 0px;
	left: 75px;
}
#hd-market .con-right ul li span{
	position: absolute;
	top: 27px;
	left: 75px;
}
/*市集区域结束*/

/*同城区域*/
#hd-city{
	height: 400px;
	width: 950px;
	margin: 0px auto;
	position: relative;
}
#hd-city .con-left .left-title{
	color: #ec5303;
}
#hd-city .con-left .left-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-city .con-left .left-top a{
	color: #643;
}
#hd-city .con-left .left-top a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-city .con-mid ul li{
	display: block;
	width: 268px;
	height: 160px;
	position: relative;
	float: left;
}
#hd-city .con-mid ul li img{
	display: block;
	height: 90px;
	width: 70px;
}
#hd-city .con-mid ul li p{
	display: block;
	width: 180px;
	position: absolute;
	top: 0px;
	left: 80px;
}
#hd-city .con-mid .city-title{
	font-size: 13px;
	color: #643;
}
#hd-city .con-mid .city-title:hover{
	color: #fff;
	background: #3377aa;
}
#hd-city .con-mid ul li h3{
	display: block;
	width: 180px;
	margin-top: -40px;
	margin-left: 80px;
}
#hd-city .con-right li{
	display: inline-block;
	margin-right: 10px;
	line-height: 15px;
}
#hd-city .con-right a{
	display: inline-block;
	color: #643;
}
#hd-city .con-right a:hover{
	color: #fff;
	background: #3377aa;
}
#hd-city .con-right .cate-title{
	color: #333;
}
/*同城区域结束*/

/*Footer区域*/
#hd-footer{
	height: 430px;
	width: 950px;
	margin: 0px auto;
}
#hd-footer div{
	height: 100px;	
}
#hd-footer .ad-block-1{
	display: block;
	position: relative;
	height: 100px;
	width: 310px;
	color: #fff;
	float: left;
	margin-right: 20px;	
	background: #64c28e;
}
#hd-footer .ad-block-2{
	display: block;
	position: relative;
	height: 100px;
	width: 310px;
	color: #fff;
	float: left;
	margin-right: 20px;	
	background: #FF8C8D;
}
#hd-footer .big-title{
	font-size: 24px;
	position: absolute;
	left: 25px;
	top: 20px;
}
#hd-footer .small-title{
	font-size: 12px;
	position: absolute;
	left: 25px;
	top: 60px;
}
#hd-footer .hd-foot{
	margin-top: 40px;
	border-top: 1px dashed #999;
	position: relative;
}
#hd-footer .hd-foot .foot-left{
	margin-top: 20px;
}
#hd-footer .hd-foot .foot-left p{
	color: #999;
}
#hd-footer .hd-foot ul{
	position: absolute;
	top: 20px;
	left: 490px;
}
#hd-footer .hd-foot ul li{
	display: inline-block;
}
#hd-footer .hd-foot .Benny{
	position: absolute;
	top: 50px;
	left: 490px;
}
/*Footer区域结束*/


/* 公共样式 */
a{
	color: #3377aa;
}
a:hover{
	background:#3377aa;
	color: #fff;
}
.hd-ad{
	width: 950px;
	height: 90px;
	display: block;
	background: no-repeat;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 10px;
}
.con-title{
	display: block;
	font-size: 15px;
	color: #007722;
	margin-top: 10px;
}
.con-more{
	font-size: 12px;
	color: #666;
}

/*左侧导航&Icon*/
.con-left{
	width: 115px;
	padding-top: 40px;
}
.left-title{
	font-size: 24px;
	color: #2277b2;
	margin-bottom: 10px;
}
.left-title:hover{
	color: #fff;
}
.left-top{
	font-size: 14px;
	padding-top: 10px;
	color: #3377aa;
	line-height: 24px;
}
.left-bottom{
	margin-top: 25px;
}
.left-bottom li{
	margin-bottom: 15px;
}
.left-bottom img{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.left-bottom .icon-read{
	background: url(./images/app_icons_50_7.jpg) 0px 0 no-repeat;
}
.left-bottom .icon-fm{
	background: url(./images/app_icons_50_7.jpg) -250px 0 no-repeat;
}
.left-bottom .icon-artist{
	background: url(./images/app_icons_50_7.jpg) -50px 0 no-repeat;
}
.left-bottom a{
	font-size: 12px;
	color: #555d53;
}
.left-bottom a:hover{
	color: #fff;
	background: #3377aa;
}
/*中间内容
	灰色字：h3
	黑色字：h4
	星星图片：span
*/
.con-mid{
	width: 560px;
	position: absolute;
	top: 38px;
	left: 115px;
}
.con-mid ul{
	display: block;
	padding-top: 18px;
	position: relative;
	overflow: hidden;
}
.con-mid .mid-content li{
	width: 130px;
	height: 265px;
	text-align: center;
	float: left;
}
.con-mid .mid-content img{
	width: 100px;
	height: 145px;
	margin: 0px auto;
}
.con-mid .mid-title{
	display: inline-block;
	color: #333;
	margin-top: 10px;
	font-size: 13px;
}
.con-mid .mid-title:hover{
	color: #fff;
	background: #3377aa;
}
.con-mid .mid-content span{
	display: inline-block;
	height: 11px;
	width: 60px;
	background: url(./images/midstars.gif) 0px -22px no-repeat;
}
.con-mid .mid-content b{
	display: block;
	font-weight: 400;
	color: #f40;
	margin-top: 5px;
}
.con-mid .mid-button{
	display: block;
	width: 68px;
	height: 23px;
	background: #1c8bd0;
	color: #fff;
	border-radius: 4px;
	line-height: 23px;
	position: relative;
	margin: 0 auto;
	margin-top: 5px;
}
.con-mid .mid-button:hover{
	background: #047FCB;
}
.con-mid h3{
	font-size: 12px;
	color: #999;
	font-weight: 400;
	margin-top: 5px;
}
.con-mid h4{
	font-size: 12px;
	color: #333;
	font-weight: 400;
	margin-top: 5px;
}
/*右侧内容区域
	灰色：span
	蓝色：a
	黑色：b	
*/
.con-right{
	width: 265px;
	position: absolute;
	right: 0px;
	top: 40px;
}
.right-content{
	display: block;
	margin-top: 10px;
}
.con-right ul li span{
	color: #999;
}
.con-right .cate-title{
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 14px;
	color: #333;
}
.con-right .cate-title span{
	font-size: 8px;
	margin-left: 3px;
	line-height: 14px;
	text-align: center;
}
/* 公共样式结束 */

